{% extends "layout.html" %}

{% block main %}
<div class="d-flex">
    <h1 class="mx-auto p-3 largeBanner" id="quote"> {{ name }}'s highscore</h1>
</div>
<div class="mainContainer">
    <section class="">
        <h2>Info about highscore:</h2>
        <hr>
        <p><strong>Name: </strong> {{ name }}</p>
        <p><strong>Score: </strong> {{ score }}</p>
        <p><strong>Date: </strong> {{ timestamp }} (server time)</p>
        <p><strong>User Id: </strong> {{ id }}</p>
    </section>
    <section>
        <div class="d-flex justify-content-center">
            <button class="buttonGeneral" onclick="location.href='/'">Back to Game</button>
            <button class="buttonGeneral" onclick="location.href='/the_list'">The List</button>
        </div>
    </section>
</div>
{% endblock %}