<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
          <h1><a href="https://makoteo.github.io/blog/" style="text-decoration: none">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <ul>
        <li><a class="active" href="https://makoteo.github.io/blog/games" selected>Games</a></li>
        <li><a href="https://makoteo.github.io/blog/">Posts</a></li>
        <li><a href="#contact">Information</a></li>
        <li><a href="#about">About</a></li>
    </ul>
    <br>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <div style="height: 200px;">

    </div>

    <div id="foo-pop"><a href="https://makoteo.github.io/blog/copyright-notice">&#169 Makoteo (Martin Feranec) 2018 - All rights reserved</h2></a></div>
    <div id="foo-boring"></div>

  </body>
</html>
